<?xml version="1.0"?>

<configuration>
  <configSections>
    <section name="SqlUnitTesting_VS2012"
             type="Microsoft.Data.Tools.Schema.Sql.UnitTesting.Configuration.SqlUnitTestingSection, Microsoft.Data.Tools.Schema.Sql.UnitTesting, Version=11.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    <section name="TempDbSettings"
             type="Fourth.Sql.Test.Harness.Configuration.TempDbSettingsSection, Fourth.Sql.Test.Harness"
             allowDefinition="Everywhere" allowLocation="true" />
  </configSections>
  <SqlUnitTesting_VS2012>
    <ExecutionContext Provider="System.Data.SqlClient"
                      ConnectionString="Data Source=localhost;Initial Catalog=ASDF;Integrated Security=True;Pooling=False"
                      CommandTimeout="30" />
    <PrivilegedContext Provider="System.Data.SqlClient"
                       ConnectionString="Data Source=localhost;Initial Catalog=ASDF;Integrated Security=True;Pooling=False"
                       CommandTimeout="30" />
  </SqlUnitTesting_VS2012>
  <TempDbSettings>
    <sourceDb serverInstance="testdata-app.fourth.cloud" databaseName="TestResultsWebsiteDbDev" userName="User"
              password="Password" />
    <targetDb serverInstance="localhost" databaseName="ASDF" userName="User" password="Password" />
  </TempDbSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>